[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "DSBA_Final"
version = "0.0.7"
dependencies = [
                "numpy",
                "pandas",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["src"]
