/*div.SaveSceneInfo{*/
/*    position: fixed;*/
/*    top: 5%;*/
/*    left: 0%;*/
/*    z-index: 1;*/
/*}*/
.pano-container {
    height: 100%;
    width: 100%;
}
.pano-container img.static-bg-img{
    width: 100%;
    height: 100%;
    position: fixed;
}
div.static-view-only .hotspot{
    position: absolute;
}
/*.pano-container .static-bg-div{
    width: 100px;
    height: 100px;
    background: #000000;
    position: absolute;
}*/
.navHolder {
    z-index: 1;
    width: 100px;
    height: 100px;
    position: absolute;
}

.hotspot {
    cursor: pointer;
}

.hotspot .out:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hotspot .out {
    margin: 2px 0 0 2px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
    transition: transform ease-out 0.1s, border 0.2s;
}

.hotspot .in {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hotspot .in img {
    vertical-align: top;
}

.hotspot .out:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.hotspot:hover .out {
    border: 5px solid rgba(255, 255, 255, 1);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    color: #fff;
}

.hotspot:hover .in {
    background-color: rgba(255, 255, 255, 1);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.hotspot:hover .out:after {
    -webkit-animation: sonarEffect 1.2s ease-out;
    -moz-animation: sonarEffect 1.2s ease-out;
    animation: sonarEffect 1.2s ease-out;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
        0 0 10px 10px rgba(160, 42, 228, 0.8), 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.hotspot .hotspot-icon {
    width: 90%;
    height: 90%;
    margin: 5%;
}

/* tooltip */

.hotspot-tooltip {
    position: relative;
    display: inline-block;
}

.hotspot-tooltip .hotspot-tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #0e0e0e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 4px;
    position: absolute;
    z-index: 100;
    bottom: 118%;
    left: 80%;
    margin-left: -56px;
    font-size: 13px;
    opacity: 0.85;
}

.hotspot-tooltip .hotspot-tooltiptext::after {
    content: "";
    position: absolute;
    top: 98%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    opacity: 0.85;
}

.hotspot-tooltip:hover .hotspot-tooltiptext {
    visibility: visible;
}
